.about-us-recognition
  +screenGrid
  .about-us-recognition__content
    .about-us-recognition__subtitle.text-style-1920-subtitle.text-color-subtitle-gray.g_grid-text-horisontal-padding(data-split-lines-and-fade-up) Recognition
    .about-us-recognition__title.text-style-1920-h-2.g_grid-text-horisontal-padding(data-split-lines-and-fade-up) The pinnacle of craftsmanship in the construction of luxury homes
    .about-us-recognition__slider
      .swiper-container(data-about-us-recognition-slider)
        .swiper-wrapper
          .swiper-slide 
            .about-us-recognition__slide
              div.about-us-recognition__slide-number.text-color-subtitle-gray ( 01/02 )
              .about-us-recognition__slide-text
                div Sabal development and Sabal Luxury Builder, led by Pascal Nicolai, reported over $130 million in sales for 2021 for luxury single family homes
                p.text-color-gray-txt Building a custom home requires precision in the field and behind the scenes, with thorough planning and efficient coordination. Our team will review your plans and provide advice on value engineering, conflict, RFI and we’ll help you select the best finishes before starting. All of this will save you time and remove roadblocks prior to construction
                p.text-color-gray-txt Sabal Luxury Builder develops a partnership with the owner, finding the highest quality materials for the best prices. With our years of experience, we create realistic budgets that minimize the allowances and avoid change orders.
              .about-us-recognition__slide-logo
                img(src="./assets/images/about-us/about-us-recognition-logo.jpg")
          .swiper-slide 
            .about-us-recognition__slide
              div.about-us-recognition__slide-number.text-color-subtitle-gray ( 01/02 )
              .about-us-recognition__slide-text
                div Sabal development and Sabal Luxury Builder, led by Pascal Nicolai, reported over $130 million in sales for 2021 for luxury single family homes
                p.text-color-gray-txt Building a custom home requires precision in the field and behind the scenes, with thorough planning and efficient coordination. Our team will review your plans and provide advice on value engineering, conflict, RFI and we’ll help you select the best finishes before starting. All of this will save you time and remove roadblocks prior to construction
                p.text-color-gray-txt Sabal Luxury Builder develops a partnership with the owner, finding the highest quality materials for the best prices. With our years of experience, we create realistic budgets that minimize the allowances and avoid change orders.
              .about-us-recognition__slide-logo
                img(src="./assets/images/about-us/about-us-recognition-logo.jpg")
    .about-us-recognition__image
      .swiper-container(data-about-us-recognition-slider2)
        .swiper-wrapper
          .swiper-slide
            img(src="./assets/images/about-us/about-us-recognition-img.jpg", alt="about-us-recognition-img" loading="lazy")
          .swiper-slide
            img(src="./assets/images/about-us/about-us-recognition-img.jpg", alt="about-us-recognition-img" loading="lazy")
    .about-us-recognition__navigation.g_grid-text-horisontal-padding
      <svg data-about-us-recognition-slider-prev width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="79.5" y="79.5" width="79" height="79" rx="39.5" transform="rotate(-180 79.5 79.5)" stroke="#5D6357"/>
        <path d="M38.1012 30.4705L28.7797 39.9999M28.7797 39.9999L38.1012 49.5293M28.7797 39.9999C34.3035 39.9999 46.525 39.9999 51.2202 39.9999" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
      </svg>
      <svg data-about-us-recognition-slider-next width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="79" height="79" rx="39.5" stroke="#5D6357"/>
        <path d="M41.8988 49.5295L51.2203 40.0001M51.2203 40.0001L41.8988 30.4707M51.2203 40.0001C45.6965 40.0001 33.475 40.0001 28.7798 40.0001" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
      </svg>



