.about-us-founders
  +screenGrid
  .about-us-founders__content
    .about-us-founders__subtitle.text-style-1920-subtitle.text-color-subtitle-gray.g_grid-text-horisontal-padding Founders
    .about-us-founders__title.text-style-1920-h-2.g_grid-text-horisontal-padding Leaders shaping new construction standards in Miami
    .about-us-founders__card.text-color-white
      .about-us-founders__card-img
        img(src="./assets/images/about-us/about-us-founders/pascal-nicolai.jpg", alt="", srcset="")
      .about-us-founders__card-content
        .about-us-founders__card-title.text-style-1920-h-3 PASCAL NICOLAI
        .about-us-founders__card-subtitle Founder & CEO Sabal Luxury Builder and Sabal Development
      .about-us-founders__card-description Pascal Nicolai, founder of Sabal Development, gained increased recognition when a private owner asked him to expand into construction, leading to the creation of Sabal Luxury Builder. Nicolai's approach is unique, as he uses his own construction company to oversee each project from start to finish, ensuring high standards in design, quality, and timeliness. By controlling costs and timelines, Sabal Luxury Builder has quickly become the go-to construction company for private luxury property owners in South Florida. PASCAL NICOLAI Founder & CEO Sabal Luxury Builder and Sabal Development
    .about-us-founders__card.text-color-white
      .about-us-founders__card-img
        img(src="./assets/images/about-us/about-us-founders/lionel-nicolai.jpg", alt="", srcset="")
      .about-us-founders__card-content
        .about-us-founders__card-title.text-style-1920-h-3 Lionel Nicolai
        .about-us-founders__card-subtitle Sales Manager Sabal Luxury Builder
      .about-us-founders__card-description Lionel Nicolai, Sales Manager for Sabal Luxury Builder, brings creativity and innovation to the team, leveraging his extensive experience in yacht sales and deep knowledge of the luxury market. He oversees sales strategies and manages the sales team, ensuring competitive pricing and the use of high-quality building materials. With over 15 years of experience helping clients build their homes, Lionel is committed to delivering excellence in every project.