.about-us-founders
  +screenGrid
  .about-us-founders__content
    .about-us-founders__subtitle.text-style-1920-subtitle.text-color-subtitle-gray.g_grid-text-horisontal-padding(data-split-lines-and-fade-up) Founders
    .about-us-founders__title.text-style-1920-h-2.g_grid-text-horisontal-padding(data-split-lines-and-fade-up) Leaders shaping new construction standards in Miami
    .about-us-founders__card.text-color-white(data-about-us-founders)
      <svg data-about-us-founders-description-open class="about-us-founders__card-open-info-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="21" cy="21" r="21" fill="white"/>
        <path d="M22.7773 16.1328V30.9258H19.4688V16.1328H22.7773ZM19.25 12.25C19.25 11.7487 19.4141 11.334 19.7422 11.0059C20.0794 10.6686 20.5443 10.5 21.1367 10.5C21.7201 10.5 22.1803 10.6686 22.5176 11.0059C22.8548 11.334 23.0234 11.7487 23.0234 12.25C23.0234 12.7422 22.8548 13.1523 22.5176 13.4805C22.1803 13.8086 21.7201 13.9727 21.1367 13.9727C20.5443 13.9727 20.0794 13.8086 19.7422 13.4805C19.4141 13.1523 19.25 12.7422 19.25 12.25Z" fill="#1C1B20"/>
      </svg>
      .about-us-founders__card-img
        img(src="./assets/images/about-us/about-us-founders/pascal-nicolai.jpg", alt="", srcset="")
      .about-us-founders__card-content
        .about-us-founders__card-title.text-style-1920-h-3 PASCAL NICOLAI
        .about-us-founders__card-subtitle Founder & CEO Sabal Luxury Builder and Sabal Development
      .about-us-founders__card-description Pascal Nicolai, founder of Sabal Development, gained increased recognition when a private owner asked him to expand into construction, leading to the creation of Sabal Luxury Builder. Nicolai's approach is unique, as he uses his own construction company to oversee each project from start to finish, ensuring high standards in design, quality, and timeliness. By controlling costs and timelines, Sabal Luxury Builder has quickly become the go-to construction company for private luxury property owners in South Florida. PASCAL NICOLAI Founder & CEO Sabal Luxury Builder and Sabal Development
    .about-us-founders__card.text-color-white(data-about-us-founders)
      <svg data-about-us-founders-description-open class="about-us-founders__card-open-info-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="21" cy="21" r="21" fill="white"/>
        <path d="M22.7773 16.1328V30.9258H19.4688V16.1328H22.7773ZM19.25 12.25C19.25 11.7487 19.4141 11.334 19.7422 11.0059C20.0794 10.6686 20.5443 10.5 21.1367 10.5C21.7201 10.5 22.1803 10.6686 22.5176 11.0059C22.8548 11.334 23.0234 11.7487 23.0234 12.25C23.0234 12.7422 22.8548 13.1523 22.5176 13.4805C22.1803 13.8086 21.7201 13.9727 21.1367 13.9727C20.5443 13.9727 20.0794 13.8086 19.7422 13.4805C19.4141 13.1523 19.25 12.7422 19.25 12.25Z" fill="#1C1B20"/>
      </svg>
      .about-us-founders__card-img
        img(src="./assets/images/about-us/about-us-founders/lionel-nicolai.jpg", alt="", srcset="")
      .about-us-founders__card-content
        .about-us-founders__card-title.text-style-1920-h-3 Lionel Nicolai
        .about-us-founders__card-subtitle Sales Manager Sabal Luxury Builder
      .about-us-founders__card-description Lionel Nicolai, Sales Manager for Sabal Luxury Builder, brings creativity and innovation to the team, leveraging his extensive experience in yacht sales and deep knowledge of the luxury market. He oversees sales strategies and manages the sales team, ensuring competitive pricing and the use of high-quality building materials. With over 15 years of experience helping clients build their homes, Lionel is committed to delivering excellence in every project.