.about-us-safeguards
  +screenGrid
  .about-us-safeguards__content
    .about-us-safeguards__subtitle.text-style-1920-subtitle.text-color-subtitle-gray.g_grid-text-horisontal-padding Safeguards
    .about-us-safeguards__title.text-style-1920-h-2.g_grid-text-horisontal-padding Building excellence: Partnership and precision at every stage
    .about-us-safeguards__text1.text-color-gray-txt.g_grid-text-horisontal-padding Building a custom home requires precision in the field and behind the scenes, with thorough planning and efficient coordination. Our team of engineers, architects and project managers will review your plans and provide advice on engineering, saving time and removing roadblocks before they occur.
    .about-us-safeguards__text2.text-color-gray-txt.g_grid-text-horisontal-padding Sabal Luxury Builder becomes a partner with the owner, finding the highest quality materials for the best prices. With our years of experience, we create realistic budgets that minimize the allowances and avoiding change orders.
    .about-us-safeguards__item
      .about-us-safeguards__item-inner
        div.about-us-safeguards__item-title 100%
        div.about-us-safeguards__item-text Holistic Approach
        <svg class="about-us-safeguards__item-hover" xmlns="http://www.w3.org/2000/svg" width="405" height="405" viewBox="0 0 405 405" fill="none">
          <path d="M209.243 -12.7175C80.1592 -42.6587 -35.3706 -10.8877 -77 8.74043V466H481V-12.7175C444.2 -0.24194 338.328 17.2238 209.243 -12.7175Z" fill="#5D6357"/>
        </svg>
    .about-us-safeguards__item
      .about-us-safeguards__item-inner
        div.about-us-safeguards__item-title 100%
        div.about-us-safeguards__item-text Holistic Approach
        <svg class="about-us-safeguards__item-hover" xmlns="http://www.w3.org/2000/svg" width="405" height="405" viewBox="0 0 405 405" fill="none">
          <path d="M209.243 -12.7175C80.1592 -42.6587 -35.3706 -10.8877 -77 8.74043V466H481V-12.7175C444.2 -0.24194 338.328 17.2238 209.243 -12.7175Z" fill="#5D6357"/>
        </svg>
    .about-us-safeguards__item
      .about-us-safeguards__item-inner
        div.about-us-safeguards__item-title 100%
        div.about-us-safeguards__item-text PROACTICE ADVICE
        <svg class="about-us-safeguards__item-hover" xmlns="http://www.w3.org/2000/svg" width="405" height="405" viewBox="0 0 405 405" fill="none">
          <path d="M209.243 -12.7175C80.1592 -42.6587 -35.3706 -10.8877 -77 8.74043V466H481V-12.7175C444.2 -0.24194 338.328 17.2238 209.243 -12.7175Z" fill="#5D6357"/>
        </svg>
    .about-us-safeguards__item
      .about-us-safeguards__item-inner
        div.about-us-safeguards__item-title 100%
        div.about-us-safeguards__item-text ULTRA HIGH-END CONSTRUCTION
        <svg class="about-us-safeguards__item-hover" xmlns="http://www.w3.org/2000/svg" width="405" height="405" viewBox="0 0 405 405" fill="none">
          <path d="M209.243 -12.7175C80.1592 -42.6587 -35.3706 -10.8877 -77 8.74043V466H481V-12.7175C444.2 -0.24194 338.328 17.2238 209.243 -12.7175Z" fill="#5D6357"/>
        </svg>