.about-us-block-with-render 
  .about-us-block-with-render__bg
    img(src="./assets/images/about-us/about-us-block-with-render.jpg", alt="", srcset="")
  .about-us-block-with-render__content
    .about-us-block-with-render__item.text-color-white
      .about-us-block-with-render__item-title.text-style-1920-h-3 EXPERIENCE
      .about-us-block-with-render__item-icon
        img(src="./assets/images/about-us/about-us-block-with-render/icon1.svg", alt="", srcset="")
      .about-us-block-with-render__item-text Sabal Luxury Builder Group has over 30 years of experience, with projects in Europe and the USA. They specialize in building distinguished custom homes in prime U.S. locations. The company focuses on understanding clients' unique needs and lifestyles to create homes that foster lasting memories. Sabal Luxury Builder emphasizes making the building process enjoyable, efficient, and on schedule.
    .about-us-block-with-render__item.text-color-white
      .about-us-block-with-render__item-title.text-style-1920-h-3 QUALITY 
      .about-us-block-with-render__item-icon
        img(src="./assets/images/about-us/about-us-block-with-render/icon2.svg", alt="", srcset="")
      .about-us-block-with-render__item-text Sabal Luxury Builder Group provides partners with uncompromised quality and service, delivering homes on time and within budget, without change orders. Their goal is to ensure a smooth and satisfying process from start to finish. The company prides itself on building elegant homes with integrity, working with top architects and a skilled team of custom craftsmen to complete construction efficiently.
    .about-us-block-with-render__item.text-color-white
      .about-us-block-with-render__item-title.text-style-1920-h-3 EXPERIENCE
      .about-us-block-with-render__item-icon
        img(src="./assets/images/about-us/about-us-block-with-render/icon3.svg", alt="", srcset="")
      .about-us-block-with-render__item-text Sabal Luxury Builder Group is a leader in adopting the latest technological advances in construction. They use cutting-edge applications and devices, anticipating that their approach will soon surpass current industry standards. The company believes that technology enhances the design and construction process, and their use of innovative solutions distinguishes them from competitors.
