.about-us-founders
  +screenGrid
  .about-us-founders__content
    .about-us-founders__subtitle.text-style-1920-subtitle.text-color-subtitle-gray.g_grid-text-horisontal-padding Founders
    .about-us-founders__title.text-style-1920-h-2.g_grid-text-horisontal-padding Leaders shaping new construction standards in Miami
    .about-us-founders__card.text-color-white
      .about-us-founders__card-img
        img(src="./assets/images/about-us/about-us-founders/pascal-nicolai.jpg", alt="", srcset="")
      .about-us-founders__card-content
        .about-us-founders__card-title.text-style-1920-h-3 PASCAL NICOLAI
        .about-us-founders__card-subtitle Founder & CEO Sabal Luxury Builder and Sabal Development
    .about-us-founders__card.text-color-white
      .about-us-founders__card-img
        img(src="./assets/images/about-us/about-us-founders/lionel-nicolai.jpg", alt="", srcset="")
      .about-us-founders__card-content
        .about-us-founders__card-title.text-style-1920-h-3 Lionel Nicolai
        .about-us-founders__card-subtitle Sales Manager Sabal Luxury Builder