.single-project-description {
    position: relative;
    padding-bottom: var(--section-v-offset);
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    &__content {
        @include row-flex;
    }
    &__title {
        @include size(2);
        @include shift(0);
    }
    &__text {
        @include size(2);
        @include shift(0);
    }
    &__slider {
        @include size(4);
        @include shift(0);
        margin-top: calc(var(--section-v-offset) / 2);
    }
    &__slide {
        position: relative;
        padding-bottom: 71%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}