.form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--color-dark);
  padding: pxInVh(134) var(--page-side-fields);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  overflow-y: auto;
  max-height: 100vh;
  @include to(600px){
    padding-top: 36px;
    padding-bottom: 36px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .screen-grid {
    opacity: 0.1;
  }
  &__close {
    position: absolute;
    top: 30px;
    right: calc(var(--page-side-fields) + 10px);
    width: 80px;
    height: 80px;
    cursor: pointer;
    @include to(1024px){
      width: 60px;
      height: 60px;
      right: calc(var(--page-side-fields) + 20px);
    }
    @include to(600px){
      width: 48px;
      height: 48px;
      top: 16px;
      right: 24px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    @include row-flex();

  }
  &__subtitle {
    @include size(1);
    @include shift(0);
    @include to(1024px){
      margin-bottom: 15px;
    }
  }
  &__title {
    @include size(2);
    @include shift-right(1);
    @include shift(0);
    margin-bottom: 40px;
    font-size: 11vh;
    @include to(1024px){
      font-size: 60px;
      @include size(4);
      @include shift(0);
      margin-bottom: 20px;
    }
    @include to(600px){
      @include text-style-360-h-2;
      margin-bottom: 12px;
    }
  }
  &__submit {
    @include size(1);
    @include shift-left(1);
    @include shift-right(2);
    margin-top: pxInVh(100);
    @include to(1024px){
      margin-top: 60px;
      @include size(2);
      @include shift-left(2.1);
      @include shift-right(0);
    }
    @include to(600px){
      margin-top: 24px;
      @include size(2);
      @include shift-left(0.1);
      @include shift-right(0);
    }
  }
  &__input {
    @include size(2);
    @include shift(0);
    border-bottom: 1px solid rgba(225, 225, 225, 0.10);
    padding-top: pxInVh(40);
    padding-bottom: pxInVh(40);
    transition: .25s ease-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    position: relative;
    @include to(1024px){
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include to(600px){
      @include size(4);
      padding-top: 16px;
      padding-bottom: 16px;
    }
    &-title {
      margin-bottom: 10px;
    }
    &-message {
      position: absolute;
      right: 20px;
      top: pxInVh(40);
      color: red;
      @include to(1024px){
        top: 40px;
        font-size: 12px !important; 
      }
    }
    input {
      background-color: transparent;
      color: var(--color-white);
      border: none;
    }
    .text-style-1920-navigation {
      @include from-to(601px, 1024px){
        @include text-style-768-h-5;
      }
      @include to(600px){
        @include text-style-360-h-5;
      }
    }
  }
  &__input:focus-within {
    background-color: var(--color-accent-green);
  }
  [data-btn-submit-text] {
    display: none;
  }
}