.form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--color-dark);
  padding: pxInVh(134) var(--page-side-fields);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  overflow-y: auto;
  max-height: 100vh;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .screen-grid {
    opacity: 0.1;
  }
  &__close {
    position: absolute;
    top: 30px;
    right: calc(var(--page-side-fields) + 10px);
    width: 80px;
    height: 80px;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    @include row-flex();

  }
  &__subtitle {
    @include size(1);
    @include shift(0);
    @include to(1024px){
      margin-bottom: 15px;
    }
  }
  &__title {
    @include size(2);
    @include shift-right(1);
    @include shift(0);
    margin-bottom: 40px;
    font-size: 11vh;
    @include to(1024px){
      font-size: 60px;
      @include size(4);
      @include shift(0);

    }
  }
  &__submit {
    @include size(1);
    @include shift-left(1);
    @include shift-right(2);
    margin-top: pxInVh(100);
  }
  &__input {
    @include size(2);
    @include shift(0);
    border-bottom: 1px solid rgba(225, 225, 225, 0.10);
    padding-top: pxInVh(40);
    padding-bottom: pxInVh(40);
    transition: .25s ease-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    position: relative;
    &-title {
      margin-bottom: 10px;
    }
    &-message {
      position: absolute;
      right: 20px;
      top: pxInVh(40);
      color: red;
    }
    input {
      background-color: transparent;
      color: var(--color-white);
      border: none;
    }
  }
  &__input:focus-within {
    background-color: var(--color-accent-green);
  }
}