.process-second {
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: calc(var(--section-v-offset) / 2);
    padding-bottom: var(--section-v-offset);
    &__content {
        @include row-flex;
    }
    &__subtitle {
        @include size(1);
        @include shift(0);
        @include to(1024px){
            margin-bottom: 15px;
        }
    }
    &__title {
        @include size(3);
        @include shift(0);
        margin-bottom: 40px;
        @include to(1024px){
            @include size(4);
            margin-bottom: 20px;
        }
    }
    &__text1 {
        @include size(1);
        @include shift-left(2);
        @include shift-right(0);
        margin-bottom: calc(var(--section-v-offset) / 2);
        @include to(1024px){
            @include size(2);
            @include shift(0);
        }
    }
    &__text2 {
        @include size(1);
        @include shift(0);
        margin-bottom: calc(var(--section-v-offset) / 2);
        @include to(1024px){
            @include size(2);
            @include shift(0);
        }
    }
    &__item {
        height: 490px;
        @include size(1);
        @include shift(0);
        padding: 20px;
        background-color: var(--color-gray-bg);
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: .25s ease-out;
        @include from-to(601px ,1024px){
            @include size(2);
            height: 380px;
        }
        @include to(600px){
            height: 340px;
            padding: 16px;
        }
        &:nth-child(3n-1) {
            @include from(1025px){
                @include shift-left(1);
            }
        }
        &-title {

        }
        &-icon {
            align-self: center;
        }
        &-text {

        }
        @media (hover: hover) {
            &:hover {
                background-color: var(--color-dark);
                color: var(--color-white);
            }
            &:hover &-icon path {
                fill: var(--color-white);
            }
            &:hover &-text {
                color: var(--color-white);
            }
        }
    }
    @include to(1024px){
        &__content>&__item {
            display: none;
        }
    }
    &__not-desktop-slider {
        @include from(1025px){
            display: none;
        }
        @include to(600px){
            margin-left: -5px;
            margin-right: -5px;
        }
    }
    &__not-desktop-slider &__item {
        @include size(4);
        @include size-xs(4);
    }
    &__not-desktop-nav {
        @include size(2);
        @include shift-left(2.1);
        @include shift-right(0);
        @include shift-xs-left(0.1);
        @include shift-xs-right(0);
        @include size-xs(3.9);
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 20px;
        @include to(600px){
            margin-top: 24px;
            column-gap: 16px;
            svg {
                width: 48px;
                height: 48px;
            }
        }

        @include from(1025px){
            display: none;
        }
    }
}