-
    var links = [
        ['Home', '/'],
        ['About us', '/about-us'],
        ['Process', '/process'],
        ['Project', '/projects'],
        ['Press', '/press'],
        ['Awards', '#'],
        ['Contact', '#'],
    ]

header(class="header "+header_class)
    a(href="/").header__logo
        <svg xmlns="http://www.w3.org/2000/svg" width="325" height="28" fill="none" viewBox="0 0 325 28">
            <g class="logo__logo">
                <g class="logo__logo logo__element">
                <g class="logo__Clip logo__path logo__group">
                    <mask id="logo__a" width="33" height="28" x="0" y="0" class="logo__a" maskUnits="userSpaceOnUse" style="mask-type:luminance">
                    <g class="logo__clipPath20">
                        <path fill="#fff" d="M21.969 14.848H11.03L6.492 7.421h20.016l-4.54 7.427Zm-5.469 8.95-4.937-8.08h9.874l-4.937 8.08ZM24.75.5H8.25L0 14l8.25 13.5h16.5L33 14 24.75.5Z" class="logo__path18"/>
                    </g>
                    </mask>
                    <g class="logo__g16" mask="url(#logo__a)">
                    <path fill="#fff" d="M21.969 14.848H11.03L6.492 7.421h20.016l-4.54 7.427Zm-5.469 8.95-4.937-8.08h9.874l-4.937 8.08ZM24.75.5H8.25L0 14l8.25 13.5h16.5L33 14 24.75.5Z" class="logo__path32"/>
                    </g>
                </g>
                </g>
                <path fill="#fff" d="M48.91 23.281c-4.476 0-7.09-2.215-7.09-6.011h3.48c.048 1.921 1.395 3.046 3.634 3.046 2.004 0 3.328-.878 3.328-2.238 0-1.125-.914-1.781-3.13-2.262l-1.839-.398c-3.457-.75-5.133-2.355-5.133-4.852 0-3.175 2.66-5.308 6.633-5.308 4.02 0 6.516 2.12 6.621 5.637H52.04c-.129-1.653-1.36-2.672-3.234-2.672-1.782 0-3.035.89-3.035 2.168 0 1.078.867 1.675 3.011 2.144l1.676.363c3.727.786 5.379 2.32 5.379 4.946 0 3.363-2.625 5.437-6.926 5.437ZM56.387 23l6.129-17.46h4.64L73.286 23h-3.997l-1.219-3.809h-6.527L60.277 23h-3.89Zm6.129-6.691h4.617l-.586-1.805a379.128 379.128 0 0 1-1.7-5.73 266.933 266.933 0 0 1-1.734 5.73l-.597 1.805ZM74.715 23V5.54h6.996c3.762 0 5.871 1.804 5.871 4.487 0 2.016-1.207 3.364-3.129 3.844v.024c2.133.199 3.774 1.699 3.774 4.183 0 2.918-2.145 4.922-6.118 4.922h-7.394Zm3.527-2.836h3.364c1.851 0 2.94-.832 2.94-2.285 0-1.453-1.066-2.367-2.882-2.367h-3.422v4.652Zm0-7.371h3.2c1.581 0 2.554-.855 2.554-2.203 0-1.36-.973-2.215-2.555-2.215h-3.199v4.418ZM88.988 23l6.13-17.46h4.64L105.887 23h-3.996l-1.219-3.809h-6.528L92.88 23h-3.89Zm6.13-6.691h4.616l-.586-1.805a381.75 381.75 0 0 1-1.699-5.73 266.362 266.362 0 0 1-1.734 5.73l-.598 1.805ZM107.315 23V5.54h3.61v14.366h7.933V23h-11.543Zm18.516 0V5.54h3.609v14.366h7.934V23h-11.543Zm20.508.281c-4.36 0-7.184-2.578-7.184-6.363V5.539h3.528v11.086c0 2.05 1.441 3.54 3.656 3.54 2.226 0 3.668-1.477 3.668-3.54V5.539h3.527v11.379c0 3.773-2.836 6.363-7.195 6.363Zm8.59-.281 6.269-8.93-5.719-8.53h4.09l1.934 2.964c.574.902 1.137 1.805 1.687 2.707.563-.902 1.125-1.805 1.723-2.707l1.969-2.965h3.996l-5.66 8.426L171.383 23h-4.172l-2.449-3.691a112.69 112.69 0 0 1-1.606-2.473c-.539.832-1.078 1.652-1.64 2.473L158.996 23h-4.066Zm25.043.281c-4.36 0-7.184-2.578-7.184-6.363V5.539h3.527v11.086c0 2.05 1.442 3.54 3.657 3.54 2.226 0 3.668-1.477 3.668-3.54V5.539h3.527v11.379c0 3.773-2.836 6.363-7.195 6.363Zm9.75-.281V5.54h6.984c3.938 0 6.398 2.214 6.398 5.73 0 2.308-1.16 4.043-3.117 4.945L203.492 23h-3.867l-3.094-6.105h-3.199V23h-3.609Zm3.609-9h3.164c1.899 0 3.082-1.066 3.082-2.73 0-1.665-1.183-2.73-3.094-2.73h-3.152V14Zm16.57 9v-6.527l-6.468-10.934h4.136l2.965 5.238c.399.704.774 1.407 1.149 2.11.351-.703.726-1.407 1.113-2.11l2.871-5.238h4.113l-6.363 10.934V23h-3.516Zm16.453 0V5.54h6.997c3.761 0 5.871 1.804 5.871 4.487 0 2.016-1.207 3.364-3.129 3.844v.024c2.133.199 3.773 1.699 3.773 4.183 0 2.918-2.144 4.922-6.117 4.922h-7.395Zm3.528-2.836h3.363c1.852 0 2.942-.832 2.942-2.285 0-1.453-1.067-2.367-2.883-2.367h-3.422v4.652Zm0-7.371h3.199c1.582 0 2.555-.855 2.555-2.203 0-1.36-.973-2.215-2.555-2.215h-3.199v4.418Zm19.09 10.488c-4.36 0-7.184-2.578-7.184-6.363V5.539h3.527v11.086c0 2.05 1.442 3.54 3.657 3.54 2.226 0 3.668-1.477 3.668-3.54V5.539h3.527v11.379c0 3.773-2.836 6.363-7.195 6.363Zm13.36-17.741V23h-3.609V5.54h3.609ZM264.934 23V5.54h3.609v14.366h7.934V23h-11.543Zm19.523 0h-6.164V5.54h6.234c5.25 0 8.555 3.362 8.555 8.718 0 5.379-3.27 8.742-8.625 8.742Zm-2.555-3.035h2.368c3.527 0 5.179-2.027 5.179-5.707 0-3.668-1.676-5.684-5.144-5.684h-2.403v11.39ZM295.121 23V5.54h12.527v3.093h-8.918v4.043h8.25v3.011h-8.25v4.22h8.918V23h-12.527Zm14.602 0V5.54h6.984c3.938 0 6.398 2.214 6.398 5.73 0 2.308-1.16 4.043-3.117 4.945L323.492 23h-3.867l-3.094-6.105h-3.199V23h-3.609Zm3.609-9h3.164c1.899 0 3.082-1.066 3.082-2.73 0-1.665-1.183-2.73-3.094-2.73h-3.152V14Z" class="logo__logo logo__nameing"/>
            </g>
        </svg>
    .header__links
        each val in links
            a.header__link.active.text-style-1920-navigation.text-color-white(href=val[1])= val[0]
    button(type="button").button-30
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.7388 16.4136C21.5716 17.6839 20.9477 18.85 19.9837 19.6939C19.0196 20.5379 17.7813 21.0021 16.5 20.9998C9.05626 20.9998 3.00001 14.9436 3.00001 7.49981C2.99771 6.21852 3.4619 4.98021 4.30588 4.01615C5.14986 3.05209 6.31592 2.42822 7.58626 2.26106C7.9075 2.22184 8.2328 2.28756 8.51362 2.44841C8.79444 2.60926 9.0157 2.85662 9.14438 3.15356L11.1244 7.57387V7.58512C11.2229 7.81242 11.2636 8.06059 11.2428 8.30744C11.222 8.5543 11.1404 8.79217 11.0053 8.99981C10.9884 9.02512 10.9706 9.04856 10.9519 9.072L9.00001 11.3857C9.7022 12.8126 11.1947 14.292 12.6403 14.9961L14.9222 13.0545C14.9446 13.0356 14.9681 13.0181 14.9925 13.002C15.2 12.8636 15.4387 12.7792 15.687 12.7562C15.9353 12.7333 16.1854 12.7727 16.4147 12.8707L16.4269 12.8764L20.8434 14.8554C21.1409 14.9837 21.3889 15.2047 21.5503 15.4856C21.7116 15.7664 21.7778 16.092 21.7388 16.4136Z" fill="white"/>
        </svg>
        span Contact Us
    a(href="tel:+17868704406").header__link2.text-color-white +1-786-870-4406


.mobile-callback-popup(data-mobile-callback-popup) 
    a.mobile-callback-popup__tel(href="tel:+380443563777") Виклик +380 (44) 356 37 77
    .mobile-callback-popup__callback(data-form-popup-call data-mobile-callback-close) Зворотній дзвінок
    .mobile-callback-popup__close(data-mobile-callback-close) Відмінити

