.projects-list {
    position: relative;
    padding: var(--section-v-offset) var(--page-side-fields);
    z-index: 2;
    background-color: var(--color-white);
    &__content {
        @include row-flex;
        row-gap: calc(var(--section-v-offset) / 2);
        @include to(600px){
            row-gap: 16px;
        }
    }
    //every eights .projects-card
    @include from(1025px){
        .projects-card:nth-child(9n-8) {
            @include size(1);
            @include shift(0);
        }
        .projects-card:nth-child(9n-7) {
            @include size(1);
            @include shift(0);
        }
        .projects-card:nth-child(9n-6) {
            @include size(2);
            @include shift(0);
        }
        .projects-card:nth-child(9n-5) {
            @include size(2);
            @include shift-left(0);
            @include shift-right(1);
        }
        .projects-card:nth-child(9n-4) {
            @include size(1);
            @include shift(0);
        }
        .projects-card:nth-child(9n-3) {
            @include size(1);
            @include shift-left(0);
            @include shift-right(1);
        }
        .projects-card:nth-child(9n-1),
        .projects-card:nth-child(9n-2) {
            @include size(1);
            @include shift(0);
        }
    }
    .projects-card {
        @include size-xs(4);
        @include shift-xs(0);
    }
    @include from-to(601px, 1024px){
        .projects-card {
            @include size(2);
            @include shift(0);
        }
    }
    
    &__button {
        @include size(1);
        @include shift-left(1);
        @include shift-right(2);
        @include size-xs(2);
        @include shift-xs(0);
        @include from-to(601px, 1024px){
            @include size(2);
            @include shift-right(0);
            @include shift-left(2.1);
        }
    }

}

.projects-card {
    text-decoration: none;
    color: var(--color-dark);
    &__img {
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .25s ease-out;
        }
    }
    &__title {
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        @include to(600px){
            margin-top: 8px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    @media (hover: hover) {
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}