-
  var processSecondItems = [

    { title: "Design",
      text: "We guide clients through every stage, from initial concept and design to the final touches, ensuring every detail reflects their personal style and desires."},
    { title: "architectural",
      text: "We guide clients through every stage, from initial concept and design to the final touches, ensuring every detail reflects their personal style and desires."},
    { title: "engeenering",
      text: "We guide clients through every stage, from initial concept and design to the final touches, ensuring every detail reflects their personal style and desires."},
    { title: "permitting",
      text: "We guide clients through every stage, from initial concept and design to the final touches, ensuring every detail reflects their personal style and desires."},
    { title: "pre-construction",
      text: "We guide clients through every stage, from initial concept and design to the final touches, ensuring every detail reflects their personal style and desires."},
    { title: "construction",
      text: "We guide clients through every stage, from initial concept and design to the final touches, ensuring every detail reflects their personal style and desires."},
    { title: "interior decor",
      text: "We guide clients through every stage, from initial concept and design to the final touches, ensuring every detail reflects their personal style and desires."},
  ]
  

.process-second
  +screenGrid
  .process-second__content 
    .process-second__subtitle.text-style-1920-subtitle.text-color-subtitle-gray.g_grid-text-horisontal-padding Our Process
    .process-second__title.text-style-1920-h-2.g_grid-text-horisontal-padding All the way from idea to finished space with expert precision
    .process-second__text1.text-color-subtitle-gray.g_grid-text-horisontal-padding Our expert team takes a holistic approach to construction by becoming partners with owners to make their visions of their high-end luxury home a reality.
    .process-second__text2.text-color-subtitle-gray.g_grid-text-horisontal-padding We guide clients through every stage, from initial concept and design to the final touches, ensuring every detail reflects their personal style and desires.
    each val in processSecondItems
      .process-second__item
        .process-second__item-title.text-style-1920-h-4 #{val.title}
        .process-second__item-icon
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z" fill="#969696"/>
          </svg>
        .process-second__item-text.text-color-gray-txt #{val.text}
    .process-second__not-desktop-slider.swiper-container(data-process-second-slider)
      .swiper-wrapper
        each val in processSecondItems
          .swiper-slide
            .process-second__item
              .process-second__item-title.text-style-1920-h-4 #{val.title}
              .process-second__item-icon
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z" fill="#969696"/>
                </svg>
              .process-second__item-text.text-color-gray-txt #{val.text}
    .process-second__not-desktop-nav
      <svg data-process-second-slider-prev width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="59.5" y="59.5" width="59" height="59" rx="29.5" transform="rotate(-180 59.5 59.5)" stroke="#5D6357"/>
        <path d="M28.1012 20.4706L18.7797 30M18.7797 30L28.1012 39.5294M18.7797 30C24.3035 30 36.525 30 41.2202 30" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
      </svg>
      <svg data-process-second-slider-next width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="59" height="59" rx="29.5" stroke="#5D6357"/>
        <path d="M31.8988 39.5294L41.2203 30M41.2203 30L31.8988 20.4706M41.2203 30C35.6965 30 23.475 30 18.7798 30" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
      </svg>

