.about-us-recognition {
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-bottom: var(--section-v-offset);
    &__content {
        @include row-flex;
    }
    &__subtitle {
        @include size(1);
        @include shift(0);
        @include to(1024px){
            margin-bottom: 15px;
        }
    }
    &__title {
        @include size(3);
        @include shift(0);
        margin-bottom: 40px;
        @include to(1024px){
            @include size(4);
        }
    }
    &__slider {
        @include size(2);
        @include shift(0);
        @include size-xs(4);
        @include shift-xs(0);
        @include from-to(601px, 1024px){
            @include size(4);
        }
        @include to(1024px){
            order: 4;
        }

    }
    &__slide {
        padding: 40px;
        background-color: var(--color-gray-bg);
        display: grid; 
        grid-template-columns: repeat(2, auto); 
        grid-template-rows: 1fr 1fr; 
        row-gap: calc(var(--section-v-offset) / 2); 
        grid-template-areas: 
            "date img"
            "text text"; 
        @include to(1024px){
            grid-template-rows: auto auto;
        }
        @include to(600px){
            padding: 20px;
            grid-template-columns: auto 60px; 
        }
        &-number {
            grid-area: date;
        }
        &-text {
            grid-area: text;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 20px;
        }
        &-logo {
            position: relative;
            padding-bottom: 61%;
            grid-area: img;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__image {
        @include size(2);
        @include shift(0);
        @include size-xs(4);
        @include shift-xs(0);
        @include from-to(601px, 1024px){
            @include size(4);
            padding: 40px;
            background-color: var(--color-gray-bg);
        }
        @include to(600px){
            padding: 20px;
            background-color: var(--color-gray-bg);
        }
    }
    &__navigation {
        @include size(1);
        @include shift-left(1);
        @include shift-right(0);
        margin-top: calc(var(--section-v-offset)  / 2);
        @include from-to(601px, 1024px){
            @include size(2);
            @include shift-left(2);
        }
        @include to(600px){
            @include size(2);
            @include shift-left(0.1);
        }
        @include to(1024px){
            order: 5;
        }
        &>:nth-child(n+2) {
            margin-left: 20px;
            @include to(600px){
                margin-left: 16px;
            }
        }
        svg {
            cursor: pointer;
            @include to(1024px){
                width: 60px;
                height: 60px;
            }
            @include to(600px){
                width: 48px;
                height: 48px;
            }
        }
    }
}