.about-us-safeguards {
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--section-v-offset);
    padding-bottom: var(--section-v-offset);
    z-index: 2;
    background-color: var(--color-white);
    &__content {
        @include row-flex();
    }
    &__subtitle {
        @include size(1);
        @include shift(0);
        @include to(1024px){
            margin-bottom: 15px;
        }
    }
    &__title {
        @include size(3);
        @include shift(0);
        margin-bottom: 40px;
        @include to(1024px){
            @include size(4);
        }
    }
    &__text1 {
        @include size(1);
        @include shift-left(2);
        @include shift-right(0);
        @include to(1024px){
            @include size(2);
            @include shift(0);
        }
        @include to(600px){
            margin-bottom: 16px;
        }
    }
    &__text2 {
        @include size(1);
        @include shift(0);
        @include to(1024px){
            @include size(2);
            @include shift(0);
        }
    }
    &__item {
        @include size(1);
        @include shift(0);
        margin-top: calc(var(--section-v-offset) / 2);
        position: relative;
        overflow: hidden;
        @include to(1024px){
            @include size(1.8);
            @include shift(0.1);
        }
        @include to(600px){
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }
        &:nth-child(odd) {
            @include size-xs(1.9);
            @include shift-xs-left(0.1);
            @include shift-xs-right(0);
        }
        &:nth-child(even) {
            @include size-xs(1.9);
            @include shift-xs-right(0.1);
            @include shift-xs-left(0);
        }
        

        &-inner {
            border-radius: 50%;
            // border: 1px solid #E1E1E1;
            padding: pxWidthInVw(112) pxWidthInVw(50);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            width: calc(100% - 40px);
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            @include to(1024px){
                padding: 10.9vw;
            }
            @include to(600px){
                padding: 22px 30px;
                width: 100%;
            }
        }
        &-hover {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            z-index: -1;
            background-color: var(--color-white);
            border: 1px solid #E1E1E1;
            @include from(1025px){
                left: 20px;
                width: calc(100% - 40px);
            }
            path {
                transform-origin: center;
                transform-box: fill-box;
                transition: transform .45s ease-out;
                transform: translateY(100%);

            }
        }
        &-title {
            color: var(--color-accent-green);
            text-align: center;
            font-family: $default-font3;
            font-size: 64px;
            font-size: pxWidthInVw(64);
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 89.6px */
            text-transform: uppercase;
            @include to(600px){
                font-size: 32px;
            }
        }
        &-text {
            @include text-style-1920-h-4;
            max-width: 280px;
            @include to(600px){
                @include text-style-360-body;
            }
        }
        @media (hover: hover) {
            &-inner,
            &-text,
            &-title {
                transition: .35s ease-out;
            }
            &:hover  &-inner{
                // background-color: var(--color-accent-green);
            }
            &:hover &-hover path {
                transform: translateY(0);
            }
            &:hover &-text,
            &:hover &-title {
                color: var(--color-white);
            }
        }
    }
}