.single-project-description 
  +screenGrid
  .single-project-description__content
    .single-project-description__title.text-style-1920-h-3.g_grid-text-horisontal-padding About the project
    .single-project-description__text.g_grid-text-horisontal-padding
      div.text-style-1920-subtitle Description
      .text-color-gray-txt
        p Situated in the highly sought-after La Gorce neighborhood, this residence offers an exceptional lifestyle. With meticulous attention to detail evident in every corner, this property stands as a testament to luxury living.
        p Immerse yourself in comfort, elegance, and convenience at 5440 La Gorce., a lot size of 12,100 square feet, providing ample space for outdoor recreation and relaxation. This home offers a generous living space of 5,650 square feet. The main living areas are spread over two floors, providing an open and welcoming atmospher
        p With four spacious bedrooms, including a luxurious master suite, comfort and privacy are effortlessly combined. Indulge in a spa-like experience with six full bathrooms that offer modern fixtures and elegant finishes. Additionally, there are two half bathrooms strategically placed for convenience and comfort.
    .single-project-description__slider
      .swiper-container(data-single-project-description-slider)
        .swiper-wrapper
          .swiper-slide
            .single-project-description__slide
              img(src="./assets/images/process/process-gallery/1.jpg", alt="", srcset="")
          .swiper-slide
            .single-project-description__slide
              img(src="./assets/images/process/process-gallery/3.jpg", alt="", srcset="")
          .swiper-slide
            .single-project-description__slide
              img(src="./assets/images/process/process-gallery/2.jpg", alt="", srcset="")