.home-media
  .home-media__content
    .home-media__subtitle.text-style-1920-subtitle.text-color-subtitle-gray.g_grid-text-horisontal-padding Media
    .home-media__title.text-style-1920-h-2.g_grid-text-horisontal-padding Showcased in Renowned Media for Excellence and Innovation
    .home-media__slider
      .swiper-container(data-home-media-slider)
        .swiper-wrapper
          .swiper-slide
            a(href="https://adobe.com/" target="_blank").home-media__item
              img(loading="lazy" src="./assets/images/home/home-media/adobe.svg")
          .swiper-slide
            a(href="https://elastic.co/" target="_blank").home-media__item
              img(loading="lazy" src="./assets/images/home/home-media/elastic.svg")
          .swiper-slide
            a(href="https://evernote.com/" target="_blank").home-media__item
              img(loading="lazy" src="./assets/images/home/home-media/evernote.svg")
          .swiper-slide
            a(href="https://framer.com/" target="_blank").home-media__item
              img(loading="lazy" src="./assets/images/home/home-media/framer.svg")
          .swiper-slide
            a(href="https://pendo.io/" target="_blank").home-media__item
              img(loading="lazy" src="./assets/images/home/home-media/pendo.svg")
          .swiper-slide
            a(href="https://github.com/" target="_blank").home-media__item
              img(loading="lazy" src="./assets/images/home/home-media/github.svg")