-
  var processes = [
    'Design',
    'architectural',
    'engeenering',
    'permitting',
    'pre-construction',
    'construction',
    'interior decoration',
  ];

  var processssses = [
    {title: 'Design',
    subtitle: 'Developing a detailed concept for the future project, including style, functionality, and overall visualization. This stage determines how the facility will look and work in the end.',
    img: './assets/images/home/home-our-process/img.jpg'
    },
    {title: 'Architectural',
    subtitle: 'Creation of architectural solutions, including drawings, floor and facade plans. This process strikes a balance between aesthetics, technical feasibility and regulatory requirements.',
    img: './assets/images/home/home-our-process/img-1.jpg'
    },
    {title: 'Engineering',
    subtitle: 'Development and integration of all engineering systems: structures, electrical, water supply, heating, ventilation and air conditioning. Engineering ensures the reliability, safety and efficiency of the building.',
    img: './assets/images/home/home-our-process/img-2.jpg'
    },
    {title: 'Permitting',
    subtitle: 'Obtaining all necessary permits and approvals from government agencies. This stage includes checking the project\'s compliance with building codes and regulations.',
    img: './assets/images/home/home-our-process/img-3.jpg'
    },
    {title: 'Pre-construction',
    subtitle: 'Planning and preparing for construction: purchasing materials, hiring contractors, preparing the construction site, and drawing up a detailed work schedule.',
    img: './assets/images/home/home-our-process/img-4.jpg'
    },
    {title: 'Construction',
    subtitle: 'The direct process of building construction, including pouring the foundation, building walls, installing engineering systems, finishing and final works.',
    img: './assets/images/home/home-our-process/img-5.jpg'
    },
    {title: 'Interior Decor',
    subtitle: 'design and arrangement of interior spaces, including the choice of furniture, lighting, color schemes and decorative elements to create a functional and aesthetic interior.',
    img: './assets/images/home/home-our-process/img-6.jpg'
    },
  ]
.home-our-process
  .home-our-process__content
    .home-our-process__subtitle.text-style-1920-h-2.text-color-dark 
      span Our Process
      .home-our-process__navigation
        <svg data-home-process-slider-prev width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1" y="1" width="78.5" height="78.5" rx="39.5" stroke="#5D6357"/>
          <path d="M38.1011 30.4705L28.7796 40M28.7796 40L38.1011 49.5294M28.7796 40C34.3035 40 46.5249 40 51.2201 40" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <svg data-home-process-slider-next width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="79" height="79" rx="39.5" stroke="#5D6357"/>
          <path d="M41.8989 49.5294L51.2204 40M51.2204 40L41.8989 30.4706M51.2204 40C45.6965 40 33.4751 40 28.7799 40" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
        </svg>
    .home-our-process__items
      .swiper-container(data-home-process-slider)
        .swiper-wrapper
          each process, index in processssses
            .swiper-slide
              .home-our-process__item
                .home-our-process__item-img
                  if index !== processssses.length-1
                    <svg data-home-process-slider-slide-next class="home-our-process__item-icon" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="80" height="80" rx="40" fill="#5D6357"/>
                      <path d="M41.899 49.5294L51.2204 40M51.2204 40L41.899 30.4706M51.2204 40C45.6966 40 33.4751 40 28.7799 40" stroke="white" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                  img(src=process.img, alt="", srcset="")
                .home-our-process__item-title.text-style-1920-h-4= process.title
                .home-our-process__item-text.text-color-gray-txt.text-style-1920-body= process.subtitle


