.screen-contain.home-front-screen
  button(type="button" data-down-arrow).text-style-1920-subtitle.text-white.home-front-screen__helper
    <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.47058 14.8988L11 24.2203M11 24.2203L20.5294 14.8988M11 24.2203C11 18.6965 11 6.47502 11 1.77979" stroke="white" stroke-width="2" stroke-linecap="round"/>
    </svg>
  .home-front-screen__content  
    div.text-style-1920-h-1.text-color-white.home-front-screen__text1 Creating dreams that come true in Miami
    .home-front-screen__slider
      .home-front-screen__slider-lines-wrapper
        .home-front-screen__slider-line(data-home-slider-line)
          .home-front-screen__slider-line-item
          .home-front-screen__slider-line-bg
        .home-front-screen__slider-line(data-home-slider-line)
          .home-front-screen__slider-line-item
          .home-front-screen__slider-line-bg
        .home-front-screen__slider-line(data-home-slider-line)
          .home-front-screen__slider-line-item
          .home-front-screen__slider-line-bg
    div.home-front-screen__subtitle.text-style-1920-h-4.text-color-white Adams Ave
    div.home-front-screen__description.text-style-1920-h-5.text-color-white A hotel in the heart of Miami offering comfort and style for every guest. Ideally located close to the most popular beaches and attractions. A hotel in the heart of Miami offering comfort and style for every guest. Ideally located close to the most popular beaches and attractions.
  .home-front-screen__bg
    .swiper-container(data-home-slider)
      .swiper-wrapper
        .swiper-slide
          img(loading="lazy" src="./assets/images/home/home-front-screen/home-front-screen-bg.jpg" alt="home-front-screen-bg")
        .swiper-slide
          img(loading="lazy" src="./assets/images/home/home-front-screen/home-front-screen-bg.jpg" alt="home-front-screen-bg")
        .swiper-slide
          img(loading="lazy" src="./assets/images/home/home-front-screen/home-front-screen-bg.jpg" alt="home-front-screen-bg")