.home-with-render-block
  .home-with-render-block__bg.paralax-screen
    .paralax-screen-wrapper-transform
      .paralax-screen-wrapper-scale
        img(src="./assets/images/home/home-with-render-block/home-with-render-block-bg.jpg" alt="home-with-render-block-bg" loading="lazy")
  .home-with-render-block__content
    .home-with-render-block__title1.text-style-1920-h-1.text-color-white Shaping the skyline of Miami 
    .home-with-render-block__title2.text-style-1920-h-1.text-color-white with innovation and excellence
