.home-awards
  +screenGrid
  .home-awards__content
    .home-awards__subtitle.text-style-1920-subtitle.g_grid-text-horisontal-padding.text-color-subtitle-gray Awards
    .home-awards__title.text-style-1920-h-2.g_grid-text-horisontal-padding Honoring Our Milestones and Prestigious Industry Awards
    .home-awards__accordeon-wrapper.g_grid-text-horisontal-padding
      .home-awards__accordeon
        .home-awards__accordeon-subtitle.text-style-1920-subtitle.text-color-subtitle-gray 02.06.2024
        .home-awards__accordeon-title.text-style-1920-h-3 Best Commercial Project 
        .home-awards__accordeon-icon
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="79" height="79" rx="39.5" stroke="#5D6357"/>
            <path d="M47 40.998H41V46.998H39V40.998H33V38.998H39V32.998H41V38.998H47V40.998Z" fill="#5D6357"/>
          </svg>
        .home-awards__accordeon-content Accordeon
      .home-awards__accordeon
        .home-awards__accordeon-subtitle.text-style-1920-subtitle.text-color-subtitle-gray 02.06.2024
        .home-awards__accordeon-title.text-style-1920-h-3 Best Commercial Project 
        .home-awards__accordeon-icon
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="79" height="79" rx="39.5" stroke="#5D6357"/>
            <path d="M47 40.998H41V46.998H39V40.998H33V38.998H39V32.998H41V38.998H47V40.998Z" fill="#5D6357"/>
          </svg>
        .home-awards__accordeon-content Accordeon
      .home-awards__accordeon
        .home-awards__accordeon-subtitle.text-style-1920-subtitle.text-color-subtitle-gray 02.06.2024
        .home-awards__accordeon-title.text-style-1920-h-3 Best Commercial Project 
        .home-awards__accordeon-icon
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="79" height="79" rx="39.5" stroke="#5D6357"/>
            <path d="M47 40.998H41V46.998H39V40.998H33V38.998H39V32.998H41V38.998H47V40.998Z" fill="#5D6357"/>
          </svg>
        .home-awards__accordeon-content Accordeon