.home-press
  +screenGrid
  .home-press__content
    .home-press__subtitle.text-color-subtitle-gray.text-style-1920-subtitle.g_grid-text-horisontal-padding Press
    .home-press__title.text-style-1920-h-2.g_grid-text-horisontal-padding Highlighting Exceptional Success and Industry Leadership
    .home-press__news-container
      .home-press__news-container-grid
        .news-card 
          span 02.04.2024
          img(src="#", alt="#")
          span Sabal development closes on $5.75M boca raton lot with plans of building high end luxury home
        .news-card 
          span 02.04.2024
          img(src="#", alt="#")
          span Sabal development closes on $5.75M boca raton lot with plans of building high end luxury home