.home-press
  +screenGrid
  .home-press__content
    .home-press__subtitle.text-color-subtitle-gray.text-style-1920-subtitle.g_grid-text-horisontal-padding Press
    .home-press__title.text-style-1920-h-2.g_grid-text-horisontal-padding Highlighting Exceptional Success and Industry Leadership
    .home-press__news-container
      .home-press__news-container-grid
        a(href="#").press-card
          .press-card__date 02.04.2024
          .press-card__img
            img(src="./assets/images/press/test-image.jpg", alt="", srcset="")
          .press-card__title.text-style-1920-h-5 Sabal development closes on $5.75M boca raton lot with plans of building high end luxury home
          .press-card__icon
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="79" height="79" rx="39.5" stroke="#5D6357"/>
              <path d="M48.0813 45.3958L47.9342 32.0662M47.9342 32.0662L34.6046 31.9192M47.9342 32.0662C44.0283 35.9722 35.3864 44.614 32.0664 47.9341" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
            </svg>
        a(href="#").press-card
          .press-card__date 02.04.2024
          .press-card__img
            img(src="./assets/images/press/test-image.jpg", alt="", srcset="")
          .press-card__title.text-style-1920-h-5 Sabal development closes on $5.75M boca raton lot with plans of building high end luxury home
          .press-card__icon
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="79" height="79" rx="39.5" stroke="#5D6357"/>
              <path d="M48.0813 45.3958L47.9342 32.0662M47.9342 32.0662L34.6046 31.9192M47.9342 32.0662C44.0283 35.9722 35.3864 44.614 32.0664 47.9341" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
            </svg>
      .home-press__button
        a(href="/press" data-load-more-projects).button-30.button-30--body
          <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="44" height="44" rx="22" fill="#1C1B20"/>
            <path d="M29 22.998H23V28.998H21V22.998H15V20.998H21V14.998H23V20.998H29V22.998Z" fill="white"/>
          </svg>
          span Load More