.home-awards
  .home-awards__content
    .home-awards__subtitle.text-style-1920-h-2.text-color-dark Awards
    .home-awards__slider.swiper-container(data-home-awards-slider)
      .swiper-wrapper
        .swiper-slide
          .home-awards__slide
            .home-awards__slide-img
              .home-awards__slide-img-wrapper
                img(src="./assets/images/home/home-awards/award.png", alt="", srcset="")
            .home-awards__slide-text.text-style-1920-h-5.text-color-dark Best Commercial Project 
        .swiper-slide
          .home-awards__slide
            .home-awards__slide-img
              .home-awards__slide-img-wrapper
                img(src="./assets/images/home/home-awards/award.png", alt="", srcset="")
            .home-awards__slide-text.text-style-1920-h-5.text-color-dark Best Commercial Project 
        .swiper-slide
          .home-awards__slide
            .home-awards__slide-img
              .home-awards__slide-img-wrapper
                img(src="./assets/images/home/home-awards/award.png", alt="", srcset="")
            .home-awards__slide-text.text-style-1920-h-5.text-color-dark Best Commercial Project 
        .swiper-slide
          .home-awards__slide
            .home-awards__slide-img
              .home-awards__slide-img-wrapper
                img(src="./assets/images/home/home-awards/award.png", alt="", srcset="")
            .home-awards__slide-text.text-style-1920-h-5.text-color-dark Best Commercial Project 
        .swiper-slide
          .home-awards__slide
            .home-awards__slide-img
              .home-awards__slide-img-wrapper
                img(src="./assets/images/home/home-awards/award.png", alt="", srcset="")
            .home-awards__slide-text.text-style-1920-h-5.text-color-dark Best Commercial Project 
            