.home-about-us
  +screenGrid
  .home-about-us__content
    .home-about-us__subtitle.text-style-1920-subtitle.text-color-subtitle-gray.g_grid-text-horisontal-padding About us
    .home-about-us__title.text-style-1920-h-2.g_grid-text-horisontal-padding Your favorite partner in the world of Miami real estate
    .home-about-us__description1.text-color-gray-txt.g_grid-text-horisontal-padding Sabal Development and Sabal Luxury Builder, led by Pascal Nicolai, reported over $130 million in luxury single-family home sales in 2021. They specialize in creating high-end custom homes that reflect each client's unique vision.
    .home-about-us__description2.text-color-gray-txt.g_grid-text-horisontal-padding In 2022, Sabal Luxury Builder was honored by the AIA Fort Lauderdale Chapter with the prestigious AIA Contractor Award for their work on the House in Hendry County, FL. Their dedication to quality and craftsmanship distinguishes them as leaders.
    .home-about-us__more
      .home-about-us__more-image
        .home-about-us__more-image-wrapper
          img(loading="lazy" src="./assets/images/home/home-about-us/image-small.jpg" alt="#")
      .home-about-us__more-text.text-color-gray-txt.g_grid-text-horisontal-padding With a proven track record of success and industry recognition, Sabal continues to set new standards in luxury homebuilding, delivering exceptional results tailored to the most discerning clients.
      button(type="button").button-30.button-30--body
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="44" height="44" rx="22" fill="#1C1B20"/>
          <path d="M29 22.998H23V28.998H21V22.998H15V20.998H21V14.998H23V20.998H29V22.998Z" fill="white"/>
        </svg>
        span Read more
    .home-about-us__image
      .home-about-us__image-wrapper
        img(loading="lazy" src="./assets/images/home/home-about-us/image-big.jpg" alt="#")

