.footer {
  position: relative;
  padding-top: var(--section-v-offset);
  padding-left: var(--page-side-fields);
  padding-right: var(--page-side-fields);
  padding-bottom: 40px;
  background-color: var(--color-dark);
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  .screen-grid {
    z-index: 0;
    opacity: 0.1;
    pointer-events: none
  }
  &__content {
    @include row-flex();
    align-items: flex-start;
  }
  &__subtitle {
    @include size(1);
    @include shift(0);
  }
  &__link1 {
    @include size(1);
    @include shift(0);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
  }
  &__link2 {
    @include size(1);
    @include shift(0);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
  }
  &__contacts {
    @include size(1);
    @include shift(0);
    &-group {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    &-group~&-group {
      margin-top: 40px;
    }
  }
  &__separate-line {
    @include size(4);
    @include shift(0);
    height: 1px;
    background-color: rgba(225, 225, 225, 0.20);
    margin-top: calc(var(--section-v-offset) / 2);
    margin-bottom: calc(var(--section-v-offset) / 2);
  }
  &__year {
    @include size(1);
    @include shift(0);
    align-self: center;
    
  }
  &__copyright {
    @include size(1);
    @include shift(0);
    align-self: center;
    
  }
  &__socials {
    @include size(1);
    @include shift(0);
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    .social-link~.social-link {
      margin-left: 10px;
    }
    
  }
  &__developer {
    @include size(1);
    @include shift(0);
    text-align: right;
  }

  &__link {
    position: relative;
    width: max-content;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform-origin: left;
      background-color: var(--color-white);
      transform: scaleX(0);
      transition: .25s ease-out;
    }
  }
  @media (hover: hover) {
    .footer__link:hover::after {
      transform: scaleX(1);
    }
  }

  .dev-logo {
    width: 56px;
    height: 61px;
    display: block;
    margin-left: auto;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}


.social-link {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba($color-white, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .25s ease-out;
    transform-origin: center;
  }
  @media (hover: hover) {
    &:hover {
      img {
        transform: rotate(15deg);
      }
    }
  }

}