.footer {
  position: relative;
  padding-top: var(--section-v-offset);
  padding-left: var(--page-side-fields);
  padding-right: var(--page-side-fields);
  padding-bottom: 40px;
  background-color: var(--color-dark);
  @include to(1024px){
    padding-top: calc(var(--section-v-offset) / 2);
    padding-bottom: 0;
  }
  @include to(600px){
    padding-top: var(--section-v-offset);
  }
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  .screen-grid {
    z-index: 0;
    opacity: 0.1;
    pointer-events: none
  }
  &__content {
    @include row-flex();
    align-items: flex-start;
  }
  &__subtitle {
    @include size(1);
    @include shift(0);
    @include to(1024px){
      @include size(4);
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(#F1F1F1, 0.1);
    }
    @include to(600px){
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }
  &__link1 {
    @include size(1);
    @include shift(0);
    @include size-xs(2);
    @include shift-xs(0);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include from-to(601px, 1024px){
      @include size(2);
    }
    @include to(1024px){
      border-bottom: 1px solid rgba(#F1F1F1, 0.1);
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    @include to(600px){
      padding-bottom: 24px;
      margin-bottom: 24px;

      row-gap: 12px;
    }
    
  }
  &__link2 {
    @include size(1);
    @include shift(0);
    @include size-xs(2);
    @include shift-xs(0);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include from-to(601px, 1024px){
      @include size(2);
    }
    @include to(1024px){
      border-bottom: 1px solid rgba(#F1F1F1, 0.1);
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    @include to(600px){
      padding-bottom: 24px;
      margin-bottom: 24px;
      margin-left: -5px;
      margin-right: -5px;
      row-gap: 12px;
      width: 50%;
    }
    
  }
  &__contacts {
    @include size(1);
    @include shift(0);
    @include size-xs(4);
    @include shift-xs(0);
    @include from-to(601px, 1024px){
      @include size(4);
    }
    @include to(1024px){
      column-count: 2;
      column-gap: 20px;
      column-gap: 60px;
    }
    @include to(600px){
      column-count: 1;
    }
    &-group {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      position: relative;
      @include to(600px){
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
    &-group~&-group {
      @include from(601px){
        margin-top: 40px;
      }
    }
    &-group:nth-last-child(n+2) {
      @include to(600px){
        &:after {
          content: '';
          position: absolute;
          left: -7px;
          bottom: 0;
          width: calc(100% + 14px);
          height: 1px;
          background-color: rgba(#F1F1F1, 0.1);;
        }
      }
    }
  }
  &__separate-line {
    @include size(4);
    @include shift(0);
    @include size-xs(4);
    @include shift-xs(0);
    height: 1px;
    background-color: rgba(225, 225, 225, 0.20);
    margin-top: calc(var(--section-v-offset) / 2);
    margin-bottom: calc(var(--section-v-offset) / 2);
    @include to(600px){
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
  &__year {
    @include size(1);
    @include shift(0);
    align-self: center;
    @include to(1024px){
      order: 7;
    }
    
  }
  &__copyright {
    @include size(1);
    @include shift(0);
    align-self: center;
    @include to(1024px){
      @include size(2);
      text-align: center;
      order: 8;
    }
    
  }
  &__socials {
    @include size(1);
    @include shift(0);
    @include size-xs(4);
    @include shift-xs(0);
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 10px;
    @include from-to(601px, 1024px){
      @include size(4);
    }
    @include to(1024px){
      order: 6;
      padding-bottom: 40px;
      justify-content: center;
      gap: 40px;
      border-bottom: 1px solid rgba(#F1F1F1, 0.1);
      margin-bottom: 40px;
    }
    @include to(600px){
      padding-bottom: 24px;
      gap: 8px
    }
    
  }
  &__developer {
    @include size(1);
    @include shift(0);
    display: flex;
    justify-content: flex-end;align-items: flex-end;
    align-self: flex-end;
    @include to(1024px){
      order: 9;
    }
  }

  &__link {
    position: relative;
    width: max-content;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform-origin: left;
      background-color: var(--color-white);
      transform: scaleX(0);
      transition: .25s ease-out;
    }
  }
  @media (hover: hover) {
    .footer__link:hover::after {
      transform: scaleX(1);
    }
  }

  .dev-logo {
    width: 56px;
    // height: 61px;
    height: auto;
    margin-left: auto;
    @include from(1025px){
      display: block;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}


.social-link {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba($color-white, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include to(600px){
    width: 48px;
    height: 48px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .25s ease-out;
    transform-origin: center;
  }
  @media (hover: hover) {
    &:hover {
      img {
        transform: rotate(15deg);
      }
    }
  }

}