.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 40;
	transition: .45s ease-out;
	--side-offset: var(--page-side-fields);
	--v-padding: 20px;
	--logo-w: 325px;
    padding: var(--v-padding) var(--side-offset);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: rgba($color-white, 0.2);
	backdrop-filter: blur(12px);
	@include to(1440px){
		--logo-w: 260px;
	}
	@include to(1024px){
		--logo-w: 140px;
		height: var(--header-h);
	}
	@include from-to(1025px, 1439px){
		--logo-w: 200px;
		--v-padding: 10px;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: var(--side-offset);
		width: calc(100% - 2 * var(--side-offset));
		height: 1px;
		background-color: var(--color-white);
		opacity: 0.2;
	}
	&__links {
		display: flex;
		margin-left: auto;
		margin-right: pxWidthInVw(167);
		@include to(1024px){
			position: fixed;
			top: var(--header-h);
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: var(--color-dark);
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: .25s ease-out;
		}
		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
		@include from(1025px){
			&>:nth-child(n+2) {
				margin-left: pxWidthInVw(40);
			}
		}
	}
	&__link {
		position: relative;
		@include to(1024px){
			@include text-style-1920-h-2;
			margin-bottom: 20px;
		}
		@include from(1025px){
			&.active:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: calc(-1 * (var(--v-padding) + 17px));
				height: 3px;
				width: 100%;
				border-radius: 2px;
				background-color: var(--color-white);
			}
		}
	}
	&__logo {
		width: var(--logo-w);
		height: calc(var(--logo-w) / 325 * 28);
		@include to(1024px){
			height: calc(var(--logo-w) / 140 * 54);
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
	.button-30 {
		margin-right: pxWidthInVw(40);
		@include to(1024px){
			margin-left: auto;
		}
	}
	&__link2 {
		font-size: 20px;
		font-size: pxWidthInVw(20);
		font-style: normal;
		font-weight: 600;
		line-height: 120%; /* 24px */
		text-decoration: none;
		position: relative;
		@media screen and (max-width:1024px){
			@include text-style-768-body;
		}
		@media screen and (max-width:600px){
			@include text-style-360-body;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: var(--color-white);
			transform: scaleX(0);
			transition: .45s ease-out;
			transform-origin: left;
		}
		&:hover::after {
			transform: scaleX(1);
		}
	}
	&__menu-call {
		cursor: pointer;
		@include from(1025px){
			display: none;
		}
		margin-left: 20px;
	}
}

.mobile-callback-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	// height: fill-available;
	// height: -moz-available;          /* WebKit-based browsers will ignore this. */
	min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	background-color: rgba(115,115,115, 0.5);
	z-index: 61 !important;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	padding: 10px;
	font-size: 15px;
	line-height: 100%;
	opacity: 0;
	visibility: hidden;
	&>* {
		text-decoration: none;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #F3EFE9;
		border-radius: 10px;
		color: var(--color-black);
	}
	&>:nth-child(n+2) {
	  	margin-top: 10px;
	}
	&__close {
		background-color: var(--color-new-blue);
		color: var(--color-white);
	}
}