.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 40;
	transition: .45s ease-out;
	--side-offset: var(--page-side-fields);
	--v-padding: 20px;
	--logo-w: 325px;
    padding: var(--v-padding) var(--side-offset);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	// background-color: rgba($color-white, 0.2);
	background-color: rgba($color-dark, 0.75);
	backdrop-filter: blur(12px);
	&.headroom--top {
		backdrop-filter: none;
		background-color: transparent;
	}
	@include to(1440px){
		--logo-w: 260px;
	}
	@include to(1024px){
		--logo-w: 140px;
		height: var(--header-h);
	}
	@include from-to(1025px, 1439px){
		--logo-w: 200px;
		--v-padding: 10px;
	}
	@include to(600px){
		--logo-w: 121px;
		--v-padding: 16px;
	}
	&.js-mobile-callback-opened {
		backdrop-filter: none;
		background-color: rgba($color-dark, 0.9);
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: var(--side-offset);
		width: calc(100% - 2 * var(--side-offset));
		height: 1px;
		background-color: var(--color-white);
		opacity: 0.2;
	}
	&__links {
		display: flex;
		margin-left: auto;
		margin-right: pxWidthInVw(167);
		@include to(1024px){
			position: fixed;
			top: var(--header-h);
			left: 0;
			width: 100%;
			height: calc(var(--vh, 1vh) * 100 - var(--header-h));
			background-color: var(--color-dark);
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			display: none;
			transition: .25s ease-out;
		}
		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			display: flex;
		}
		@include from(1025px){
			&>:nth-child(n+2) {
				margin-left: pxWidthInVw(40);
			}
		}
	}
	&__link {
		position: relative;
		@include to(1024px){
			@include text-style-1920-h-2;
			margin-bottom: 20px;
		}
		@include from(1025px){
			&.active:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: calc(-1 * (var(--v-padding) + 17px));
				height: 3px;
				width: 100%;
				border-radius: 2px;
				background-color: var(--color-white);
			}
		}
		@media (hover: hover) {
			& {
				transition: .25s ease-out;
			}
			&:hover {
				color: var(--color-subtitle-gray);
			}
		}
	}
	&__logo {
		width: var(--logo-w);
		height: calc(var(--logo-w) / 325 * 28);
		@include to(1024px){
			height: calc(var(--logo-w) / 140 * 54);
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
	.button-30 {
		margin-right: pxWidthInVw(40);
		@include to(1024px){
			margin-left: auto;
		}
		@include to(600px){
			display: none;
		}
	}
	&__link2 {
		font-size: 20px;
		font-size: pxWidthInVw(20);
		font-style: normal;
		font-weight: 600;
		line-height: 120%; /* 24px */
		text-decoration: none;
		position: relative;
		@media screen and (max-width:1024px){
			@include text-style-768-body;
		}
		@media screen and (max-width:600px){
			@include text-style-360-body;
			display: none;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: var(--color-white);
			transform: scaleX(0);
			transition: .45s ease-out;
			transform-origin: left;
		}
		&:hover::after {
			transform: scaleX(1);
		}
	}
	&__menu-call {
		cursor: pointer;
		margin-left: 20px;
		@include to(600px){
			width: 48px;
			height: 48px;
			margin-left: 12px;
			svg {
				width: 100%;
				height: 100%;
			}
		}
		.hide-when-closed {
			opacity: 0;
			transition: .35s ease-in-out
		}
		.hide-when-opened {
			opacity: 1;
			transition: .35s ease-in-out
		}
		&.opened-menu {
			.hide-when-closed {
				opacity: 1;
			}
			.hide-when-opened {
				opacity: 0;
			}
		}
		@include from(1025px){
			display: none;
		}

	}
	
	&__mobile-callback {
		@include from(601px){
			display: none;
		}
		margin-left: auto;
		width: 48px;
		height: 48px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.mobile-callback-popup {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100 - var(--header-h));
	// height: fill-available;
	// height: -moz-available;          /* WebKit-based browsers will ignore this. */
	// min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	background: rgba(28, 27, 32, 0.90);
	z-index: 61 !important;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	padding: 0;
	font-size: 15px;
	line-height: 100%;
	opacity: 0;
	visibility: hidden;
	
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&>* {
		text-decoration: none;
		width: 100%;
		height: 68px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--color-dark);
		color: var(--color-white);
		font-size: 20px;
	}
	&>:nth-child(n+2) {
	  	border-top: 1px solid rgba(225, 225, 225, 0.10);
	}
	&__close {
		// background-color: var(--color-new-blue);
		color: #A12B0F;
		font-family: $default-font3;
		font-size: 18px;
	}
}