.home-media {
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: calc(var(--section-v-offset) / 2);
    padding-bottom: calc(var(--section-v-offset) / 2);
    background-color: var(--color-gray-bg);
    @include to(600px){
        max-width: 100vw;
        overflow: hidden
    }
    &__content {
        @include row-flex();
    }
    &__subtitle {
        @include size(1);
        @include shift(0);
        @include to(1024px){
            margin-bottom: 15px;
        }
    }
    &__slider {
        @include size(4);
        @include shift(0);
        @include size-xs(4);
        @include shift-xs(0);
        @include to(600px){
            .swiper-container {
                overflow: visible
            }
        }
    }
    &__title {
        @include size(3);
        @include shift(0);
        margin-bottom: calc(var(--section-v-offset) / 2);
        @include to(1024px){
            @include size(4);
        }
    }
    &__item {
        background-color: var(--color-white);
        padding: pxWidthInVw(80) 80px;
        text-align: center;
        display: block;
        @include to(1024px){
            padding: 40px;
            width: auto;
        }
        @include to(600px){
            padding: 16px;
        }
        img {
            height: 48px;
            width: auto;
            margin: auto;
        }
    }
}