.home-about-us {
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--section-v-offset);
    padding-bottom: var(--section-v-offset);
    z-index: 2;
    background-color: var(--color-white);
    position: relative;
    &__content  {
        @include row-flex();
    }
    &__subtitle  {
        @include size(1);
        @include shift(0);
        @include to(1024px){ 
            margin-bottom: 15px;
        }
    }
    &__title  {
        @include size(3);
        @include shift(0);
        margin-bottom: 40px;
        @include to(1024px){
            @include size(4);
        }
    }
    &__description1  {
        @include size(1);
        @include shift-right(0);
        @include shift-left(2);
        margin-bottom: 100px;
        @include to(1024px){
            @include size(2);
            @include shift(0);
            margin-bottom: 60px;
        }
    }
    &__description2  {
        @include size(1);
        @include shift(0);
        margin-bottom: 100px;
        @include to(1024px){
            @include size(2);
            @include shift(0);
            margin-bottom: 60px;
        }

    }
    &__image  {
        @include size(2);
        @include shift-left(1);
        @include shift-right(0);
        @include size-xs(4);
        @include shift-xs(0);
        overflow: hidden;
        @include from-to(601px, 1024px){
            @include size(4);
            @include shift(0);
        }
    }
    &__more  {
        @include size(1);
        @include shift(0);
        @include to(1024px){
            @include size(4);
            order: 1;
            margin-top: calc(var(--section-v-offset) / 2);
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .button-30 {
            margin-left: var(--grid-text-horisontal-padding);
            width: max-content;
            @include to(1024px){
                width: auto;
            }
        }
    }
    &__more-image  {
        margin-bottom: 40px;
        overflow: hidden;
        @include to(1024px){
            display: none;
        }
        
    }
    &__more-text  {
        margin-bottom: 40px;
        @include from-to(601px, 1024px){
            width: 50%;
        }
        @include to(600px){
            width: 100%;
            margin-bottom: 24px;
        }
    }
}