.home-company-projects {
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--section-v-offset);
    padding-bottom: var(--section-v-offset);
    &__content {
        @include row-flex();
    }
    &__slider {
        margin-bottom: calc(var(--section-v-offset) / 2);
        @include size(4);
        @include shift(0);
    }

    &__title {
        @include size(2);
        @include shift(0);
        @include to(1024px){
            order: -1;
            margin-bottom: calc(var(--section-v-offset) / 2);
        }
    }
    &__description {
        @include size(1);
        @include shift(0);
    }
    &__counter {
        @include size(1);
        @include shift(0);
        text-align: right;
        @include to(1024px){
            @include size(2);
            @include shift-left(2);
            text-align: left;
        }
        svg {
            cursor: pointer;
            @include to(1024px){
                width: 60px;
                height: 60px;
            }
        }
        svg~svg {
            margin-left: 20px;
        }
    }
    &__slide {
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            transition: opacity 0.3s;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%);
            opacity: 0;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__slide-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        @include to(1024px){
            display: none;
        }
        &-top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    }
    @media (hover: hover) {
        &__slider:hover .swiper-slide:not(:hover) :after {
            opacity: 1;
        }
    }
}