.home-press {
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--section-v-offset);
    padding-bottom: var(--section-v-offset);
    &__content {
        @include row-flex();
    }
    &__subtitle {
        @include size(1);
        @include shift(0);
        @include to(1024px){
            margin-bottom: 15px;
        }
    }
    &__title {
        @include size(3);
        @include shift(0);
        margin-bottom: calc(var(--section-v-offset) / 2);
        @include to(1024px){
            @include size(4);
        }
    }
    &__news-container {
        @include size(4);
        @include shift(0);
    }
    &__news-container-grid {
        @include row-flex();
        .press-card,
        .news-card {
            @include size(2);
            @include shift(0);
            @include to(1024px){
                @include size(4);
                margin-bottom: 20px;
            }
        }
    }
    &__button {
        @include size(1);
        @include shift-left(1);
        @include shift-right(2);
        margin-top: calc(var(--section-v-offset) / 2);
        @include from-to(601px, 1024px){
            @include size(2);
            @include shift-left(2.1);
            @include shift-right(0);
        }
        @include to(600px){
            @include size(3.9);
            @include shift-left(0.1);
            @include shift-right(0);
        }
        .button-30 {
            width: max-content;
        }
    }
}