.home-company-projects {
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--section-v-offset);
    padding-bottom: var(--section-v-offset);
    &__content {
        @include row-flex();
        &>.button-30 {
            margin-left: auto;
            margin-right: auto;
            padding: 18px 40px;
            @include to(600px){
                padding: 8px 12px 8px 12px;
            }
        }
    }

    .project-detailed-card {
        @include size(12);
        @include shift(0);
        margin-bottom: pxInVh(80);
        @include from-to(601px, 1024px){
            @include size(24);
            @include shift(0);
            margin-bottom: 40px;
        }
        @include to(600px){
            margin-bottom: 40px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        @include size-xs(24);
        @include shift-xs(0);
    }

    &__title {
        @include size(24);
        @include shift(0);
        
        border-bottom: 1px solid var(--color-gray-bg);
        padding-bottom: 20px;
        margin-bottom: 40px;
        @include to(1024px){ 
            padding-bottom: 15px;
            margin-bottom: 20px;
        }
    }
}