.home-about-us {
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--section-v-offset);
    padding-bottom: var(--section-v-offset);
    z-index: 2;
    background-color: var(--color-white);
    position: relative;
    &__content  {
        @include row-flex();
    }
    &__subtitle  {
        @include size(24);
        @include shift(0);
        padding-bottom: 20px;
        border-bottom: 1px solid var(--color-gray-bg);
        margin-bottom: 40px;
        @include to(1024px){ 
            margin-bottom: 15px;
        }
    }
    &__text-wrap {
        @include size(11);
        @include shift-left(1);
        @include shift-right(0);
        @include from-to(601px, 1024px){
            margin-top: 40px;
            @include size(24);
            @include shift(0);
        }
        @include size-xs(24);
        @include shift-xs(0);
    }

    &__text-wrap-wrapper {
        @include row-flex();
    }

    &__description1  {
        @include size(12);
        @include shift(0);
        @include size-xs(24);
        @include shift-xs(0);
    }
    &__description2  {
        @include size(12);
        @include shift(0);
        @include size-xs(24);
        @include shift-xs(0);
        @include to(600px){
            margin-top: 20px;
        }
    }

    &__subtext {
        color: var(--color-dark);
        font-size: pxWidthInVw(32);
        @include to(1024px){
            font-size: 32px;
        }
        @include to(600px){
            font-size: 18px;
        }
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 38.4px */
        text-transform: uppercase;
        margin-bottom: 40px;
        @include size(24);
        @include shift(0);
    }
    
    &__image  {
        @include size(12);
        @include shift(0);
        @include size-xs(24);
        @include shift-xs(0);
        overflow: hidden;
        @include from-to(601px, 1024px){
            @include size(24);
            @include shift(0);
        }
        @include to(600px){
            margin-bottom: 40px;
        }
    }
    &__button {
        margin-top: 40px;
    }
    &__image-wrapper {
        position: relative;
        padding-bottom: 60%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}