.home-media {
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: calc(var(--section-v-offset) / 2);
    padding-bottom: calc(var(--section-v-offset) / 2);
    background-color: var(--color-gray-bg);
    &__content {
        @include row-flex();
    }
    &__subtitle {
        @include size(1);
        @include shift(0);
        @include to(1024px){
            margin-bottom: 15px;
        }
    }
    &__title {
        @include size(3);
        @include shift(0);
        margin-bottom: calc(var(--section-v-offset) / 2);
        @include to(1024px){
            @include size(4);
        }
    }
    &__item {
        @include size(1);
        @include shift(0);
        background-color: var(--color-white);
        padding: 80px;
        text-align: center;
        @include to(1024px){
            padding: 40px;
            width: auto;
        }
        img {
            height: 48px;
            width: auto;
            margin: auto;
        }
    }
}